<html class="login-pf">

<head>
    <meta charset="UTF-8">
    <title>Github graphs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
</head>

<body>
    <span id="badge">
         {% load static %}
  <img src="{% static "images/logo_v2.png" %}" alt=" logo" />
</span>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6 col-lg-5 login">
                <form action="{% url 'index' %} " class="form-horizontal" method="post">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for="user" class="col-sm-2 col-md-2 control-label">Username</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control" name="user" placeholder="" tabindex="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="repo" class="col-sm-2 col-md-2 control-label">Repository</label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control" name="repo" placeholder="" tabindex="2">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">

                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 submit">
                            <button type="submit" id="message_link" class="btn btn-primary btn-lg" tabindex="4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-5 col-md-6 col-lg-7 details">
                <p><strong>Welcome to Github graphs </strong></p>
                <p>This is project in which you can find graphs about pull requests time to merge. </p>
                <p>If you put some new Repository which is not in the database, it can took some time.</p>
                <p><a href="/websites" style="color:white!important">Which websites are in server?</a></p>
                <strong {% if correct %}style="color: darkgreen"{% else %}style="color: darkred"{% endif %}>{{message}}</strong>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css"></script>

</body>

</html>