{% extends "main.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
        <div class="row">
            <h3 class="col-md-offset-1"><a href="http://www.github.com/{{ githubUser }}">{{ githubUser }}</a> / <a href="http://www.github.com/{{ githubUser }}/{{ githubRepo }}">{{ githubRepo }}</a></h3>
        </div>
        <button id="changeScale" class="btn col-md-offset-10 btn-default">LIN scale</button> <div id="chart_div" class="charts"></div>
{% endblock %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% block scripts %}
    <script type="text/javascript">
        var get_id = /id=([^&#=]*)/.exec(window.location.search);
        var get_date = /date=([^&#=]*)/.exec(window.location.search);
        var week = "";

        var id = get_id[1];
        var date = new Date(window.decodeURIComponent(get_date[1]));

        var data_fromDatabase = [];
        var githubUser = '{{ githubUser }}';
        var githubRepo = '{{ githubRepo }}';

        $.getJSON('../data', function (data) {
            for (var i = 0; i < data.length; i++) {
                data_fromDatabase.push([
                    new Date(data[i]["fields"]["created_at"]),
                    new Date(data[i]["fields"]["merged_at"]),
                    "" + data[i]["fields"]["number"],
                    (new Date(data[i]["fields"]["merged_at"]) - new Date(data[i]["fields"]["created_at"])) / (1000 * 60 * 60),
                    "" + data[i]["fields"]["title"]])
            }

            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.load('current', {'packages': ['table']});
            google.charts.setOnLoadCallback(bySpeed_per_week);


        });


        //google.charts.load('current', {'packages': ['table']});
        //google.charts.setOnLoadCallback(drawTable);

    </script>
{% endblock %}