{% extends "main.html" %}

{% block navbar %}
    <li><a href="../">Pull requests</a></li>
    <li class="active"><a href="">Issues<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}

    <div id="chart_div" class="charts"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var data_fromDatabase = [];
        {% for Issue in by_closedIssue %}
            data_fromDatabase.push([
                new Date(parse_time('{{ Issue.created_at }}')),null,
                '{{ Issue.number}}',
                (new Date(parse_time('{{ Issue.closed_at}}')) - new Date(parse_time('{{ Issue.created_at }}'))) / (1000 * 60 * 60),
                 '{{ Issue.closed_by }}',"{{ Issue.title }}"
            ]);
        {% endfor %}
        google.charts.load('current', {packages: ['corechart', 'bar']});

        google.charts.setOnLoadCallback(perMonth);
        // google.charts.setOnLoadCallback(singlePR_perTime);
        // google.charts.setOnLoadCallback(singleIssue_oneByone);

        google.charts.load('current', {'packages': ['timeline']});
        google.charts.setOnLoadCallback(timelineOfMerges);
    </script>
{% endblock %}