<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Graphs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/library/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/library/bootstrap-theme.css" %}">
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">


</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Github graphs</a>

        </div>

        {% if haveData %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block navbar %}
                    {% endblock %}

                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li class="navbar-right" id="change_graph"><a id="change_graph">Change graphs<span
                            class="sr-only"></span></a></li>
                </ul>
            </div>
        {% endif %}

    </div>
</nav>
{% if not haveData %}
    <form action="{% url 'index' %} " class="form-horizontal" style="margin-left: 5%; margin-top: 3%" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="row col-md-offset-4">
                <div class="row">
                    <div class="col-sm-4 ">
                        Github Username: openshift
                        <input class="form-control" id="focusedInput" type="text" name="user" title="user">
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-sm-4">
                        Github repository: openshift-ansible
                        <input class="form-control" id="focusedInput" type="text" name="repo" title="repo">
                    </div>
                </div>
                <button id="message_link" type="submit" class="btn btn-primary" style="margin-top: 10px">Submit
                </button>
            </div>
        </div>
    </form>

{% endif %}
<div id="header"></div>
{% block content %}

{% endblock %}


<form id="dynForm" action="{% url 'index' %} " method="POST">
    {% csrf_token %}
    <input type="hidden" name="change_graph" value=True>
</form>

</body>

{% load static %}
<script type="text/javascript" src="{% static "js/library/jquery-3.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/library/bootstrap.js" %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src='{% static "js/workingWithData.js" %}'></script>
<script type="text/javascript" src="{% static "js/graphs.js" %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">

{% block scripts %}


{% endblock %}

<script type="text/javascript">
    $("#message_link").click(function () {
        $("#header").html(" <div class='spinner'><div class='bounce1'></div> <div class='bounce2'></div><div class='bounce3'></div> </div>");
    });
    $("#change_graph").click(function () {
        document.getElementById("dynForm").submit();
    });
</script>

</html>
