<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Graphs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/library/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/library/bootstrap-theme.css" %}">
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">


</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Github graphs</a>

        </div>

        {% if haveData %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block navbar %}
                    {% endblock %}

                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li class="navbar-right" id="change_graph"><a id="change_graph" href="../../changeGraph">Change graphs<span
                            class="sr-only"></span></a></li>
                </ul>
            </div>
        {% endif %}

    </div>
</nav>
<div id="header"></div>

{% block content %}

{% endblock %}


</body>

{% load static %}
<script type="text/javascript" src="{% static "js/library/jquery-3.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/library/bootstrap.js" %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src='{% static "js/workingWithData.js" %}'></script>
<script type="text/javascript" src="{% static "js/graphs.js" %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">

{% block scripts %}


{% endblock %}


</html>
