<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
    <title>Websites</title>
</head>

<body>
    <h3 style="margin-left:1%">Repositories</h3>
    <ul>
        {% for web in websites %}
        <li><a href="../{{web.user}}/{{web.repository}}" style="color:black!important;text-decoration: underline;">{{web.user}} - {{web.repository}}</a></li>
        {% endfor %}
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css"></script>
</body>
<!-- CREATED BY Martin Nečas -->
</html>