.charts {
    width: 99%;
}

.googleTr {
    border: 2px solid "#444";
    width: 100px !important;
    height: 80px !important;
    padding-left: 25%;
    padding-top: 2%;
}

.githublink{
    color: black!important;
    text-align: left !important;

}
.web_link {
    color: black!important
}
.date_margin {
    margin-top: 10px;
}

body {
    background: #eee!important;
}

.headerChar {
    background: gainsboro;
}

.special {
    margin-right: 20px
}

.google-visualization-table-tr-even {
    background: #eee!important;
}

.google-visualization-table-type-number{
    text-align: center !important;
}


.google-visualization-table-tr-even {
    cursor: pointer;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.ui-datepicker-calendar {
    display: none;
}


#ui-datepicker-div {
    margin-left: -220px
}
